# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.log

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
.out/
.next/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# DB files
*.sqlite3
*.db
